<ion-header>
  <ion-toolbar>
    <ion-title>Users CRUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button routerLink="./id" *ngFor="let user of users" >
    <ion-avatar slot="start">
      <img src="../../../assets/img/speakers/bear.jpg">
    </ion-avatar>
    <ion-label>
      {{user.firstname}}
      <p>{{user.lastname}}</p>
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
